.container
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 10px;
	background: linear-gradient(135deg, #ff4b2b, #ff416c, #8a2be2);
	padding: 40px;
	max-width: 1000px;
	margin: 20px auto;
	border-radius: 8px;
	padding-bottom: 70px;
}

.item
{
	background-color: #ffc107;
	color: #000;
	font-weight: bold;
	text-align: center;
	padding: 15px 0;
	border-radius: 4px;
}

.button3
{
	grid-column: 1 / -1; 
}