.container
{
	border: 1px solid #718096;
	padding: 20px;
	color: #2d3748;
}

.items
{
	display: grid;
	grid-template-columns: max-content max-content max-content;
	grid-template-rows: auto auto;
	gap: 20px 100px;
	justify-content: space-around;
	border: 1px solid #718096;
	padding: 30px;
}

.item
{
	background-color: #718096;
	color: white;
	padding: 12px 24px;
	text-align: center;
	border-radius: 2px;
	font-size: 14px;
}